/* ==========================================================================
	Light Yellow 	- #fbe2b4
	Pink		- #ff4c65
	Yellow		- #ffc33c
	
	Grey		- #7a7c77
	Light Green	- #55b6b2
	Light Purple	- #9e6d92
   ========================================================================== */

/* General */
body {
	color: #7a7c77;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: #9e6d92;
	font-weight: normal;
	margin: 0 0 15px;
}

h1 { font-size: 2.25em; /* 36px */ }
h2 { font-size: 2em; /* 32px */ }
h3 { font-size: 1.875em; /* 30px */ }
h4 { font-size: 1.75em; /* 28px */ }
h5 { font-size: 1.65em; /* 26px */ }
h6 { font-size: 1.5em; /* 24px */ }

a,
a:hover,
a: visited,
a:focus {
	color: #ff4c65;
}

p {
	line-height: 20px;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Header */
header {
	background-color: #9e6d92;
}

header h1 {
	color: #ffffff;
}

.header-wrap {
	max-width: 960px;
	width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}
