/* ==========================================================================
	Maroon		- #591e23
	Rose		- #d94e67
	Cream		- #f2d8a7
	Light Brown	- #a68572
	Brown		- #73503c
	Grey		- #7a7c77
   ========================================================================== */

/* General */
body {
	background-color: #f5f5f5;
	color: #73503c;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: #d94e67;
	font-family: 'Lobster', sans-serif;
	font-weight: normal;
	margin: 0 0 15px;
}

h1 { font-size: 2.25em; /* 36px */ }
h2 { font-size: 2em; /* 32px */ }
h3 { font-size: 1.875em; /* 30px */ }
h4 { font-size: 1.75em; /* 28px */ }
h5 { font-size: 1.65em; /* 26px */ }
h6 { font-size: 1.5em; /* 24px */ }

a,
a:hover,
a: visited,
a:focus {
	color: #ff4c65;
}

p {
	line-height: 20px;
}

.divider {
	border-bottom: 1px dashed #a68572;
	height: 1px;
	width: 100%;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Header */
header {
	background-color: #f2d8a7;
}

.header-wrap {
	max-width: 960px;
	width: 100%;
	padding: 120px 15px 70px;
}

.header-wrap h1 {
	font-size: 3.75em; /* 60px */
}

.header-wrap .position {
	color: #a68572;
	font-size: 1.375em; /* 22px */
}

/* Content */
section {
	padding-bottom: 15px;
	padding-top: 15px;
}

/* Footer */
footer {
	background-color: #f2d8a7;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}
