/* ==========================================================================
	Blue		- #4a9ec0
	Purple		- #994583
	Cream		- #e3dad5
	Light Brown	- #a68572
	Brown		- #42323f
	Orange		- #f17154
	Grey		- #828282
   ========================================================================== */

/* General */
body {
	background-color: #f5f5f5;
	color: #828282;
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	color: #4a9ec0;
	font-family: 'Lobster', sans-serif;
	font-weight: normal;
	margin: 0 0 15px;
}

h1 { font-size: 2.25em; /* 36px */ }
h2 { font-size: 2em; /* 32px */ }
h3 { font-size: 1.875em; /* 30px */ }
h4 { font-size: 1.75em; /* 28px */ }
h5 { font-size: 1.65em; /* 26px */ }
h6 { font-size: 1.5em; /* 24px */ }

a,
a:hover,
a: visited,
a:focus {
	color: #ff4c65;
}

p {
	line-height: 20px;
}

.divider {
	border-bottom: 1px dashed #e3dad5;
	height: 1px;
	width: 100%;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Header */
header {
	background-color: #994583;
}

.header-wrap {
	max-width: 960px;
	padding: 80px 15px 50px;
	text-align: center;
	width: 100%;
}

.header-wrap h1 {
	font-size: 3.75em; /* 60px */
	margin-bottom: 10px;
}

.header-wrap .position {
	color: #f5f5f5;
	font-size: 1.375em; /* 22px */
}

.header-profile {
	border: 5px solid #f5f5f5;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

/* Content */
section {
	padding-bottom: 15px;
	padding-top: 15px;
}

ul.social-media {
	padding: 0;
}

.social-media li {
	color: #994583;
	list-style: none;
}

/* Footer */
footer {
	font-size: 0.875em; /*14px*/
	text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}
